---
interface Props {
	name: string;
	state: string;
	body: string;
	batch: string;
}

const { name, state, body, batch } = Astro.props;
---

<div class="relative cursor-pointer card">
	<div class="face face1">
		<div class="content">
			<img src={`/achievers/${name}.jpg`} alt={name} />
			<h3 class="text-white mt-1 p-0 text-center text-2xl">
				<span class="capitalize">
					{name}
				</span>
				<br />
				{state}<br />
				{batch}
			</h3>
		</div>
	</div>
	<div class="face face2">
		<p class="content-center text-lg p-0 m-0">
			{body}
		</p>
	</div>
</div>
<style>
	.card .face {
		@apply rounded-lg w-96;
		transition: transform 0.5s;
	}

	.card .face.face1 {
		@apply relative bg-gray-700 z-[4] py-5;
	}

	.card:hover .face.face1 {
		@apply bg-fairy-tale-500 translate-y-[5%];
	}

	.card .face.face1 .content {
		@apply opacity-40 transition-all duration-500 flex flex-col items-center;
	}

	.card:hover .face.face1 .content {
		@apply opacity-100;
	}

	.card .face.face1 .content img {
		@apply mb-3 aspect-square w-32 rounded-full;
	}

	.card .face.face2 {
		@apply p-5 pt-6 bg-white relative flex justify-center items-center translate-y-[-100%];
		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
	}

	.card:hover .face.face2 {
		@apply translate-y-[0];
	}
</style>
