---
import StaticInformationField from "./StaticInformationField.astro";
import StudentRankCard from "./StudentRankCard.astro";

interface Details {
	name: string;
	index_no: string;
	nic: string;
	ranking_district: string;
	district_rank: number;
	island_rank: number;
	zscore: number;
	sub_grp_id: string;
	centre_name: string;
	sub1: string;
	sub1_result: string;
	sub2: string;
	sub2_result: string;
	sub3: string;
	sub3_result: string;
}
interface Props {
	details: Details;
}

const { details } = Astro.props;

let subjectStream: string = "Other";

if (details.sub_grp_id == "Agri (BIO)") {
	subjectStream = "Biology-Agriculture-Chemistry";
}
if (details.sub_grp_id == "BIO") {
	subjectStream = "Biological Science";
}
if (details.sub_grp_id == "BIO_CHEMISTRY_ICT") {
	subjectStream = "Biology-Chemistry-ICT";
}
if (details.sub_grp_id == "BIO_PHYSICS_ICT") {
	subjectStream = "Biology-Physics-ICT";
}
if (details.sub_grp_id == "ICT (MATHS)") {
	subjectStream = "Physical Science + ICT";
}
if (details.sub_grp_id == "ICT ONLY") {
	subjectStream = "ICT Only";
}
if (details.sub_grp_id == "MATHS") {
	subjectStream = "Physical Science";
}
---

<div
	class="text-lg w-full max-w-[45rem] text-black grid grid-cols-5 gap-x-3 gap-y-3"
>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap"
		rel="stylesheet"
	/>
	<StaticInformationField
		title="Name"
		value={details.name}
		class="col-span-full"
	/>
	<StaticInformationField
		title="Index No"
		value={details.index_no}
		class="col-span-2"
	/>
	<StaticInformationField
		title="NIC No"
		value={details.nic}
		class="col-span-3"
	/>
	<StaticInformationField
		title="Stream"
		value={subjectStream}
		class="col-span-2"
	/>
	<StaticInformationField
		title="District"
		value={details.ranking_district}
		class="col-span-3"
	/>
	<StaticInformationField
		title="Exam Centre"
		value={details.centre_name}
		class="col-span-full"
	/>

	<table class="my-6 col-span-full md:col-span-3 text-2xl pr-1d">
		{
			details.sub1 === null ? null : (
				<tr>
					<td>{details.sub1}</td>
					<td>{details.sub1_result}</td>
				</tr>
			)
		}
		{
			details.sub2 === null ? null : (
				<tr>
					<td>{details.sub2}</td>
					<td>{details.sub2_result}</td>
				</tr>
			)
		}
		{
			details.sub3 === null ? null : (
				<tr>
					<td>{details.sub3}</td>
					<td>{details.sub3_result}</td>
				</tr>
			)
		}
	</table>

	<div class="flex col-span-full md:col-span-2 items-center justify-center">
		<StudentRankCard title="District Rank" rank={details.district_rank} />
		<StudentRankCard title="Island Rank" rank={details.island_rank} />
	</div>
	<!-- <div class="grid grid-cols-3 gap-4 mt-4 w-full">
		{
			details.subjects.map((subject) => {
				return <SubjectResultItem result={subject} />;
			})
		}
	</div> -->
</div>
