---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

interface Props {
	subject: "combined-maths" | "physics" | "chemistry";
	href: string;
}

const { href, subject } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const x = subject.replace("-", "_") as
	| "combined_maths"
	| "physics"
	| "chemistry";

const subjectDisplayName = t(`elearning_videos_${x}`);
---

<a
	href={href}
	target="_blank"
	class="no-underline text-inherit hover:underline"
>
	<img
		class="w-full rounded-lg"
		src={`/subject/${subject}.jpeg`}
		alt={subjectDisplayName}
	/>
	{subjectDisplayName}
</a>
